<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>polycaculate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6FC6A571FD8D4E3002D875F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6FC6A721FD8D4E3002D875F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6FC6A7D1FD8D4E3002D875F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
